*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: auto auto;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    background-size: cover;
}

.container {
    max-width: 1050px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.container__welcome {
    color: white;
    align-self: center;
}

.container__welcome__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.25;
}

.container__welcome__content {
    margin-top: 20px;
    line-height: 1.5;
}

.container__signup__pricing {
    padding: 20px;
    color: white;
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    box-shadow: 0 7px 0 0 hsla(0, 0%, 0%, .2);
}

.container__signup__pricing__content__spec {
    font-weight: 600;
}

.container__signup__form {
    margin-top: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    color: hsl(249, 10%, 26%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 0 0 hsla(0, 0%, 0%, 0.2);
}

.container__signup__form__input {
    padding: 17px 25px;
    padding-right: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    border: 2px solid hsl(246, 25%, 90%);
    border-radius: 5px;
}

.container__signup__form__input.error {
    margin-bottom: 0;
    border: 2px solid hsl(0, 100%, 74%);
    background-image: url("images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

.container__signup__form__error {
    margin: 5px 0;
    margin-bottom: 15px;
    color: hsl(0, 100%, 74%);
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    text-align: right;

}

.container__signup__form__input:focus {
    outline: none;
    border: 2px solid hsl(249, 10%, 26%);
}

.container__signup__form__submit {
    padding: 15px 30px;
    text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0 3px 0 0 hsl(154, 59%, 40%);
    cursor: pointer;
    transition: all 200ms;
    
}

.container__signup__form__submit:hover {
    background-color: hsl(154, 39%, 51%);
}

.container__signup__form__submit:focus {
    outline: none;
}

.container__signup__form__submit:active {
    transform: translateY(2px);
    box-shadow: 0;
}

.container__signup__form__submit-desc {
    margin-top: 15px;
    font-size: 10px;
    font-weight: 500;
    color: hsl(246, 25%, 77%);
    text-align: center;
}

.container__signup__form__submit-desc__tos {
    color: hsl(0, 100%, 74%);
    font-weight: bold;
}



.hidden {
    display: none;
}


@media only screen and (max-width: 1100px) {
    .container {
        margin: 20px 20px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        height: auto;
    }
    .container {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }

    .container__welcome {
        text-align: center;
        margin-bottom: 30px;
    }

    .container__signup__form {
        padding: 20px;
    }

    .container__signup__form__input {
        margin-bottom: 15px;
    }

}